<a href="https://colab.research.google.com/github/dangkhoa152/3122410187_TranLeDangKhoa_DataAnalysis/blob/main/Chapter3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 3

## Tuple

In [2]:
tup = (4, 5, 6)
print(tup)

(4, 5, 6)

In [6]:
tuple([4, 0, 2])
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [5]:
tup[0]

's'

In [12]:
nested_tup = (4, 5, 6), (7, 8)
print(nested_tup)
print(nested_tup[0])
print(nested_tup[1])

((4, 5, 6), (7, 8))
(4, 5, 6)
(7, 8)

In [13]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [14]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [15]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [16]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [18]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [19]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [20]:
a, b = 1, 2
a
b
b, a = a, b
a
b

1

In [21]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [22]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a
b
rest

[3, 4, 5]

In [23]:
a, b, *_ = values

In [24]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

## List

In [25]:
a_list = [2, 3, 7, None]

tup = ("foo", "bar", "baz")
b_list = list(tup)
b_list
b_list[1] = "peekaboo"
b_list

['foo', 'peekaboo', 'baz']

In [26]:
gen = range(10)
gen
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
b_list.append("dwarf")
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [28]:
b_list.insert(1, "red")
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [29]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [30]:
b_list.append("foo")
b_list
b_list.remove("foo")
b_list

['red', 'baz', 'dwarf', 'foo']

In [31]:
"dwarf" in b_list

True

In [32]:
"dwarf" not in b_list

False

In [33]:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [34]:
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

## Sorting

In [35]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [36]:
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

## Slicing

In [37]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [38]:
seq[3:5] = [6, 3]
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [39]:
seq[:5]
seq[3:]

[6, 3, 6, 0, 1]

In [40]:
seq[-4:]
seq[-6:-2]

[3, 6, 3, 6]

In [41]:
seq[::2]

[7, 3, 3, 0]

In [42]:
seq[::-1]

[1, 0, 6, 3, 6, 3, 2, 7]

## Dictionary

In [43]:
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [44]:
d1[7] = "an integer"
d1
d1["b"]

[1, 2, 3, 4]

In [45]:
"b" in d1

True

In [46]:
d1[5] = "some value"
d1
d1["dummy"] = "another value"
d1
del d1[5]
d1
ret = d1.pop("dummy")
ret
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [47]:
list(d1.keys())
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [48]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [49]:
d1.update({"b": "foo", "c": 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

## Creating dictionaries from sequences

In [50]:
tuples = zip(range(5), reversed(range(5)))
tuples
mapping = dict(tuples)
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

## Default values

In [53]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [54]:
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [57]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

## Valid dictionary key types

In [58]:
hash("string")
hash((1, 2, (2, 3)))
hash((1, 2, [2, 3])) # fails because lists are mutable

TypeError: unhashable type: 'list'

In [59]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

## Set

In [60]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [61]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [62]:
a.union(b)
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [63]:
a.intersection(b)
a & b

{3, 4, 5}

In [64]:
c = a.copy()
c |= b
c
d = a.copy()
d &= b
d

{3, 4, 5}

In [65]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [66]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

True

In [68]:
{1, 2, 3} == {3, 2, 1}

True

## Built-In Sequence Functions

### Sorted

In [69]:
sorted([7, 1, 2, 6, 0, 3, 2])
sorted("horse race")

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

### zip

In [70]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [71]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [72]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

### reversed

In [73]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [74]:
strings = ["a", "as", "bat", "car", "dove", "python"]
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [75]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [76]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [77]:
loc_mapping = {value: index for index, value in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

### Nested list comprehensions

In [78]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

In [79]:
names_of_interest = []
for names in all_data:
    enough_as = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_as)
names_of_interest

['Maria', 'Natalia']

In [80]:
result = [name for names in all_data for name in names
          if name.count("a") >= 2]
result

['Maria', 'Natalia']

In [81]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [83]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## Functions

In [84]:
def my_function(x, y):
    return x + y

In [85]:
my_function(1, 2)
result = my_function(1, 2)
result

3

In [86]:
def function_without_return(x):
    print(x)

result = function_without_return("hello!")
print(result)

hello!
None

In [87]:
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [88]:
my_function2(5, 6, z=0.7)
my_function2(3.14, 7, 3.5)
my_function2(10, 20)

45.0

## Namespaces, Scope, and Local Functions

In [89]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [90]:
func()
a
func()
a

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [91]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

## Functions Are Objects

In [92]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]

In [93]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

In [94]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [96]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

In [97]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

## Anonymous (Lambda) Functions

In [98]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [99]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [100]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

In [101]:
strings.sort(key=lambda x: len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

## Generators

In [102]:
some_dict = {"a": 1, "b": 2, "c": 3}
for key in some_dict:
    print(key)

a
b
c

In [103]:
dict_iterator = iter(some_dict)
dict_iterator

In [104]:
list(dict_iterator)

['a', 'b', 'c']

In [105]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2

In [106]:
gen = squares()
gen

In [107]:
for x in gen:
    print(x, end=" ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [108]:
gen = (x ** 2 for x in range(100))
gen

In [109]:
sum(x ** 2 for x in range(100))
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [110]:
import itertools
def first_letter(x):
    return x[0]

names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

## Errors and Exception Handling

In [111]:
float("1.2345")
float("something")

ValueError: could not convert string to float: 'something'

In [112]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [113]:
attempt_float("1.2345")
attempt_float("something")

'something'

In [114]:
float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [115]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [116]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [117]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

## Files and the Operating System

In [118]:
path = "examples/segismundo.txt"
f = open(path, encoding="utf-8")

FileNotFoundError: [Errno 2] No such file or directory: 'examples/segismundo.txt'

In [119]:
lines = [x.rstrip() for x in open(path, encoding="utf-8")]
lines

FileNotFoundError: [Errno 2] No such file or directory: 'examples/segismundo.txt'

In [120]:
f.close()

NameError: name 'f' is not defined

In [121]:
with open(path, encoding="utf-8") as f:
    lines = [x.rstrip() for x in f]

FileNotFoundError: [Errno 2] No such file or directory: 'examples/segismundo.txt'

In [122]:
f1 = open(path)
f1.read(10)
f2 = open(path, mode="rb")  # Binary mode
f2.read(10)

FileNotFoundError: [Errno 2] No such file or directory: 'examples/segismundo.txt'

In [123]:
f1.tell()
f2.tell()

NameError: name 'f1' is not defined

In [124]:
import sys
sys.getdefaultencoding()

'utf-8'

In [125]:
f1.seek(3)
f1.read(1)
f1.tell()

NameError: name 'f1' is not defined

In [126]:
f1.close()
f2.close()

NameError: name 'f1' is not defined

In [127]:
path

with open("tmp.txt", mode="w") as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

with open("tmp.txt") as f:
    lines = f.readlines()

lines

FileNotFoundError: [Errno 2] No such file or directory: 'examples/segismundo.txt'

## Bytes and Unicode with Files

In [128]:
with open(path) as f:
    chars = f.read(10)

chars
len(chars)

FileNotFoundError: [Errno 2] No such file or directory: 'examples/segismundo.txt'

In [129]:
with open(path, mode="rb") as f:
    data = f.read(10)

data

FileNotFoundError: [Errno 2] No such file or directory: 'examples/segismundo.txt'

In [130]:
data.decode("utf-8")
data[:4].decode("utf-8")

NameError: name 'data' is not defined

In [131]:
sink_path = "sink.txt"
with open(path) as source:
    with open(sink_path, "x", encoding="iso-8859-1") as sink:
        sink.write(source.read())

with open(sink_path, encoding="iso-8859-1") as f:
    print(f.read(10))

FileNotFoundError: [Errno 2] No such file or directory: 'examples/segismundo.txt'

In [132]:
os.remove(sink_path)

NameError: name 'os' is not defined

In [133]:
f = open(path, encoding='utf-8')
f.read(5)
f.seek(4)
f.read(1)
f.close()

FileNotFoundError: [Errno 2] No such file or directory: 'examples/segismundo.txt'